<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include("partials/header") %>
    <table border="1" width="100%">
      <tr>
        <th>Recept</th>
        <th>Sostojki</th>
        <th>Brisenje</th>
      </tr>
      <% data.forEach((recept, i) => { %>
      <tr>
        <td><%= recept.recept %></td>
        <td><%= recept.sostojki %></td>
        <td>
        <a href="/brisi?index=<%= i %>">Brisi</a>
      </td>
      </tr>
      <% }); %>
    </table>
  </body>
</html>
